@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root{
    --primary-color: #fed001;

}

html{
    font: 400 62.5% Inter, sans-serif;
}


p, a{
    font-size: 1.6rem;
}

.divdark{
    background-color: #2a2a2a;
}

.container-color{
    background-color: #f5f5f5;
}

.container-dark2{
    background-color: #003464;
    color: #f5f5f5;
}

.container{
    max-width: 127.6rem;
    margin: auto;
}

/* inicio do  header */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.header-nav__list{
    display: flex;
    gap: .6rem;
    list-style-type: none;
}

.header-nav__list li a{
    text-decoration: none;
    color: var(--primary-color);
    border: .1rem solid var(--primary-color);
    padding: .75em 1.15em;
}

.header-nav__list li a:hover{
    background-color: black;
    color: var(--primary-color);
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

/* final do header */

/* inicio do hero */

.container-hero{
    background-image: linear-gradient(#fafafa,var(--primary-color));
}


.hero_banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;
}

.btn{
    font-size: 1.8rem;
    background-color: var(--primary-color);
    border-radius: 4px;
    text-decoration: none;
    color: black;
    padding: 1.6rem 4.6rem;
    display: inline-block;
    box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.2);
}

.hero-title{
    font-size: 4.8rem;
    margin-bottom: 5rem ;
    

}

.btn:hover{
    background-color: black;
    color: var(--primary-color);
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
}


/* final do hero */

/* inicio do container de cursos */

.Cursos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Cursos-list{
    display: flex;
    text-align: left;
    gap: 1.6rem;
    align-items: stretch
    

}

.Cursos-list-cards{
    flex: 1;
    
}

.Cursos-list-cards img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    border-radius: 8px 8px 0 0;
}

.Cursos-title{
    font-size: 4rem;
    margin:0 ;
    text-align: center;
    padding: 7rem 0;
}
.Cursos-list-cards-conteudo{
   
    border: 1px solid #ccc;
    border-radius: 0 0 8px 8px;
    border-top: transparent;
    overflow: hidden;
    height: 60%;
    

}

.Cursos-list-cards-conteudo h3{
    padding: 1rem;
    margin-bottom: 0;
    font-size: 2.4rem;

}
.Cursos-list-cards-conteudo p{
    font-size: 1.6rem;
    line-height: 1.5;
    padding: 1rem;
    
    
   
}

.btno{
    margin: 7rem 0;

}
